body{
    overflow-x: hidden;
}

.speaker-background-image{
  background: url("../img/mic2.jpg") no-repeat center/cover;
}

.contact-image{
  background: url("../img/contact/shutstk_2357834DarkCrop1920BWb.jpg") no-repeat center/cover;
}

.team-background-image{
background:url("../img/new/team_back2.jpg") no-repeat center/cover;
width: 100%;
height: 100%;
}

.main-menu-changes{
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}

.footer_details h2{
    color: white !important; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium !important;

}
.footer_details h3{
    color: white !important; 
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: medium !important;

}
.footer_details h2{
    color: #e62b1e !important;
    font-weight: bolder !important;
    font-size: 2.0em !important;
}
.fa {
  padding: 5px;
  font-size: 35px;
  width: 60px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook, .fa-instagram, .fa-linkedin{
    color: #e62b1e;
    background: black;
}

.speaker-info{
    background-color: rgba(0, 0, 0, 0.7);
    width: 500px;
}

.speaker-info p{
    font-size: medium;
    font-weight: bolder;
    color: #e62b1e !important; 
}

.bio span{
    font-size: medium !important; ;
    font-weight: bolder !important; ;
    text-decoration: bold;
    color: #ff0000 !important; 

}
.artist-single h2{
    color: whitesmoke !important; 
    font-weight: lighter !important;
}

.artist-single h5{
    font-size: medium;
    
    color: #e62b1e !important; 
    text-align: center;
}
.our-speaker-area {
    position: relative;
    z-index: 1; }
    .our-speaker-area .row {
      margin-left: -20px;
      margin-right: -20px; }
      @media only screen and (max-width: 767px) {
        .our-speaker-area .row {
          margin-left: -15px;
          margin-right: -15px; } }
      .our-speaker-area .row .col-12 {
        padding-left: 20px;
        padding-right: 20px; }
        @media only screen and (max-width: 767px) {
          .our-speaker-area .row .col-12 {
            padding-left: 15px;
            padding-right: 15px; } }
  
  .single-speaker-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 40px;
    border-radius: 10px; }
    .single-speaker-area .speaker-single-thumb {
      position: relative;
      z-index: 1;
      border-radius: 10px; }
      .single-speaker-area .speaker-single-thumb img {
        -webkit-transition-duration: 1500ms;
        -o-transition-duration: 1500ms;
        transition-duration: 1500ms;
        border-radius: 10px;
        width: 100%; }
    .single-speaker-area .social-info {
      position: absolute;
      top: -180px;
      right: 0;
      z-index: 22;
      background-color: #df42b1;
      padding: 15px;
      border-radius: 0 10px 0 10px;
      text-align: center;
      -webkit-transition-duration: 800ms;
      -o-transition-duration: 800ms;
      transition-duration: 800ms; }
      .single-speaker-area .social-info a {
        display: block;
        font-size: 18px;
        color: #ffffff;
        margin-bottom: 5px; }
        .single-speaker-area .social-info a:last-child {
          margin-bottom: 0; }
    .single-speaker-area .speaker-info {
      position: absolute;
      bottom: 25px;
      left: 25px;
      z-index: 22; }
      .single-speaker-area .speaker-info h5 {
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        letter-spacing: 1px;
        margin-bottom: 10px; }
      .single-speaker-area .speaker-info p {
        color: #ff0000 !important; 
        text-decoration: bold;
        margin-bottom: 0;
        letter-spacing: 1px;
        line-height: 1; }
    .single-speaker-area:hover .social-info, .single-speaker-area:focus .social-info {
      top: 0; }

      .zmdi{display:inline-block;font:normal normal normal 14px/1 'Material-Design-Iconic-Font';font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
      .zmdi.pull-left{float:left;margin-right:.15em}.zmdi.pull-right{float:right;margin-left:.15em}
      .zmdi-facebook:before{content:'\f343'}
      .zmdi-instagram:before{content:'\f34f'}
      .zmdi-twitter:before{content:'\f360'}
      .zmdi-linkedin:before{content:'\f3f8'}

      .section-heading {
        position: relative;
        z-index: 1;
        margin-bottom: 60px; }
        .section-heading p {
          color: #ffffff;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin-bottom: 0;
          display: inline-block;
          font-weight: 400; }
        .section-heading h4 {
          font-size: 38px;
          color: #ffffff;
          margin-bottom: 0;
          text-transform: uppercase;
          letter-spacing: 1px; }
          @media only screen and (max-width: 767px) {
            .section-heading h4 {
              font-size: 26px; } }
          @media only screen and (min-width: 576px) and (max-width: 767px) {
            .section-heading h4 {
              font-size: 30px; } }
      
      .section-heading-2 {
        position: relative;
        z-index: 1;
        margin-bottom: 60px; }
        .section-heading-2 p {
          color: #df42b1;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin-bottom: 0;
          display: inline-block;
          font-weight: 400; }
        .section-heading-2 h4 {
          font-size: 38px;
          color: #ffffff;
          margin-bottom: 0;
          text-transform: uppercase;
          letter-spacing: 1px; }
          @media only screen and (max-width: 767px) {
            .section-heading-2 h4 {
              font-size: 26px; } }
          @media only screen and (min-width: 576px) and (max-width: 767px) {
            .section-heading-2 h4 {
              font-size: 30px; } }
      
      .section-heading-3 {
        position: relative;
        z-index: 1;
        margin-bottom: 60px; }
        .section-heading-3 p {
          color: #df42b1;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin-bottom: 0;
          display: inline-block;
          font-weight: 400; }
        .section-heading-3 h4 {
          font-size: 38px;
          color: #111343;
          margin-bottom: 0;
          text-transform: uppercase;
          letter-spacing: 1px; }
          @media only screen and (max-width: 767px) {
            .section-heading-3 h4 {
              font-size: 26px; } }
          @media only screen and (min-width: 576px) and (max-width: 767px) {
            .section-heading-3 h4 {
              font-size: 30px; } }



/*------------------------------------------------------------
## lineup-artists-headline
------------------------------------------------------------*/
.lineup-artists-headline {
    margin-top: 115px;
}

.lineup-artists-headline .entry-title p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: hsl(0, 0%, 48%);
}

.lineup-artists-headline .entry-title h2 {
    width: 100%;
    font-size: 48px;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
}

/*------------------------------------------------------------
## lineup-artists
------------------------------------------------------------*/
.lineup-artists {
    padding-top: 80px;
}

.lineup-artists .featured-image {
    margin: 0;
    padding: 0;
}

.lineup-artists .featured-image {
    width: 100%;
}

.lineup-artists .featured-image img {
    width: 100%;
    max-width: 100%;
}

/*------------------------------------------------------------
### lineup-artists-wrap
------------------------------------------------------------*/
.lineup-artists .lineup-artists-wrap {
    margin-top: 80px;
}

.lineup-artists .lineup-artists-wrap .lineup-artists-description {
    position: relative;
    width: 100%;
}

.lineup-artists .lineup-artists-wrap .lineup-artists-description-container {
    position: relative;
    padding: 30px;
    background: hsl(0, 0%, 100%);
    box-shadow: 50px 40px 115px rgba(0, 0, 0, 0.1);
}

.lineup-artists-description .entry-title {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.lineup-artists-description .entry-content {
    margin-top: 20px;
    font-size: 15px;
    color: hsl(0, 0%, 60%);
    line-height: 2;
}

.lineup-artists-wrap .box-link {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -24px;
    right: 50px;
    z-index: 999;
}


@media screen and (min-width: 768px) {
    .lineup-artists .lineup-artists-wrap {
        margin-top: 30px;
    }

    .lineup-artists .featured-image {
        max-width: 360px;
    }

    .lineup-artists .lineup-artists-wrap .lineup-artists-description {
        width: calc(100% - 360px);
    }

    .lineup-artists .lineup-artists-wrap .lineup-artists-description-container {
        position: absolute;
        z-index: 99;
        top: 100px;
        left: -75px;
        width: calc(100% + 75px);
    }

    .lineup-artists .lineup-artists-wrap:nth-of-type(even) .lineup-artists-description-container {
        right: -75px;
        left: auto;
    }

    .lineup-artists .lineup-artists-wrap:nth-of-type(even) .box-link {
        right: auto;
        left: 50px;
    }
}

@media screen and (min-width: 992px) {
    .lineup-artists .lineup-artists-wrap .lineup-artists-description-container {
        padding: 50px;
    }
}


@media screen and (min-width: 1200px) {
    .lineup-artists .lineup-artists-wrap .lineup-artists-description-container {
        max-width: 660px;
    }

    .lineup-artists .lineup-artists-wrap:nth-last-of-type(1) {
        margin-left: 80px;
    }
}

/*------------------------------------------------------------
# the-complete-lineup
------------------------------------------------------------*/
.the-complete-lineup {
    margin-top: 115px;
}

.the-complete-lineup .entry-title p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: hsl(0, 0%, 48%);
}

.the-complete-lineup .entry-title h2 {
    width: 100%;
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
}

/*------------------------------------------------------------
## the-complete-lineup-artists
------------------------------------------------------------*/
.the-complete-lineup-artists {
    position: relative;
    margin-top: 110px;
    height: auto;
}

.the-complete-lineup-artists .artist-single {
    margin-bottom: 0px;
}

.the-complete-lineup-artists .artist-single:nth-of-type(even) {
    margin-top: 120px;
}

.the-complete-lineup-artists .artist-single figure {
    margin: 0;
    padding: 0;
    width: 100%;
}

.the-complete-lineup-artists .artist-single .box-link {
    position: absolute;
    top: 15px;
    left: 232px;
    cursor: pointer;
}

.the-complete-lineup-artists .artist-single .featured-image img {
    max-width: 100%;
    height: auto;
    width: 255px;
}

.the-complete-lineup-artists .artist-single .featured-image a {
    display: block;
}

.the-complete-lineup-artists .artist-single h2 {
    margin-top: 38px;
    font-size: 24px;
    font-weight: 600;
    color: hsl(0, 0%, 2%);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .the-complete-lineup-artists .artist-single:nth-child(6) {
        margin-top: 0;
    }
}


@media screen and (min-width: 1200px) {
    .the-complete-lineup-artists .artist-single:nth-child(1) {
        margin-top: 2px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(2) {
        margin-top: 90px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(3) {
        margin-top: 48px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(4) {
        margin-top: 0;
    }

    .the-complete-lineup-artists .artist-single:nth-child(5) {
        margin-top: 75px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(6) {
        margin-top: 165px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(7) {
        margin-top: 25px;
    }

    .the-complete-lineup-artists .artist-single:nth-child(8) {
        margin-top: 75px;
    }
}

/*------------------------------------------------------------
# see the-complete-lineup button
------------------------------------------------------------*/
.see-complete-lineup {
    margin-top: 105px
}

.see-complete-lineup .entry-footer .btn {
    padding: 15px 35px;
    border-radius: 0;
    margin-right: 20px;
    background: -webkit-linear-gradient(#00d0ff, #25ffbf);
    font-weight: 500;
}

.see-complete-lineup .entry-footer a {
    font-size: 14px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}
